body {
  font-family: Segoe;
  font-size: 14px;
  margin: 0 auto;
  background-color: #212121;
  color: white;
}

html, body, #root {
  height: 100%;
  width: 100%;
}

.container {
  display: flex;
  justify-content: center;
  height: 100%;
  box-sizing: content-box;
  width: 100%;
  gap: 3%;
}

.input, .output {
  width: 45%;
}

.input-text {
  border: 2px solid #464646;
  background-color: transparent;
  color: white;
  transition: border 0.3s;
  outline: none;
}

.output-text {
  background-color: #464646;
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}

.input-text, .output-text {
  width: 95%;
  min-height: 40vh;
  border-radius: 4px;
  padding: 1em;
}

.input-text:focus {
	border: 2px solid grey;
}